<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">
              <img style="max-width:150px; margin-top: -15px;" src="/img/logo.gif"/>
              {{ site.title }}
            </a>
        </div>
        <!-- Collect the nav links, forms, a/nd other content for toggling -->
        <div id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" style="margin-top:7px">
            	<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                      SoftCon
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/notice.html">공지사항</a></li>
                      <li><a class="page-scroll" href="/#about-opening">여는 말</a></li>
                      <li><a class="page-scroll" href="/#about-intro">행사 개요</a></li>
                      <li><a href="{% post_url 2015-09-10-staff-introduction %}">운영위원회</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                      프로그램
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{% post_url 2015-09-09-call-for-speaker %}">발표자 모집</a></li>
                      <li><a href="/schedule.html">행사 일정</a></li>
                      <li><a href="/program.html">프로그램 목록</a></li>
                    </ul>
                </li>
                <li class ="drapdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                  오시는 길
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">

                    <li><a href="/map.html">행사장 위치</a></li>
                    <li><a href="/location.html">교통편</a></li>
                  </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">
                      참가신청
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/register.html">참가 신청</a></li>
                      <li><a href="/register_check.html">신청 결과 보기</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
