<style>
  .opening .content{
      font-size: 18px;
  }
</style>


<!-- About Section -->
<section id="about-opening" class="opening text-left">
  <h2>SoftCon이란?</h2><br/>
  <section class="text-justify" style="width:90%;">
    <p class="opening content">최근들어 많은 IT 공모전과 컨퍼런스, 대회들이 생겨나고 있고, 20대에 스타트업을 설립하는 사례도 많아지고 있습니다.</p>
    <p class="opening content">우리 학생들은 급변하는 IT기술을 접해보거나 사용해보기는 힘들며, 학업과 취업 준비로 바쁜 우리에게는 컨퍼런스를 접할 기회는 많이 부족한 상황입니다.</p>
    <p class="opening content">대개 주변을 둘러보면 학교 강의 외에 기술이나 분야를 접해보지 못한 학생들이 많고, 자신의 적성에 맞는 분야를 뒤늦게서야 찾는 경우가 많습니다.</p>
    <p class="opening content">이러한 분들을 위해 저희는 이 모든 어려움을 해결해 줄 수 있는, 새로운 정보를 들을 기회를 제공해주는 <font size="6" font-face="굴림">'SoftCon'</font>을 개최합니다.</p>
  </section>
  <h2>SoftCon의 목적</h2><br/>
  <p class="opening content">저희 SoftCon이 추구하는 목적은 대학생과 대학생의 소통입니다!</p>
  <p class="opening content">그분들의 경험을 듣고 싶었습니다. 그분들이 만든 서비스가 어떤 기술로 만들어져 있는지 알고 싶었습니다.</p>
  <p class="opening content">그래서 경험과 기술을 공유할 수 있는 컨퍼런스를 만들었습니다. 이 컨퍼런스를 통해 많은 대학생들이 경험을 말하고 듣고 기술을 배웠으면 합니다. 그리고 배운 것을 활용하여 더 나은 세상을 만들기 위해 노력해줄 것을 믿습니다.</p>
  <p class="opening content">이제, 대학생과 대학생의 소통 그 첫 번째 장을 열어 보려고 합니다.</p>
</section>

<section id="about-intro" class="text-left">
  <br/>
  <h2>SoftCon 행사 개요</h2>
  <br/>
  <ul role="list">
    <li class="ullist" role="listitem"><strong>일정</strong> : 2015년 11월 21일 (토)</li>
    <li class="ullist" role="listitem"><strong>장소</strong> : 경희대학교 전자정보대학</li>
    <li class="ullist" role="listitem"><strong>주최</strong> : 경희대학교 컴퓨터공학과</li>
    <li class="ullist" role="listitem"><strong>대상</strong> : 대학생이면 누구나</li>
  </ul>
<br />
</section>
